/** @format */

.about_us_banner {
  width: 100%;
  padding: 150px 0 127px;
  max-width: 100vw;
  @include below($tablet-sm) {
    padding: 100px 0 50px;
  }
  @include below($mobile-lg) {
    padding: 50px 0 20px;
  }
  .scroller_text {
    position: absolute;
    right: -20px;
    transform: translateX(-50%);
    top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    @include below($tablet-sm) {
      // right: -60px;
      display: none;
    }
    // @include below($mobile-lg) {
    //   display: none;
    // }
    span {
      @include fontFace(18px, 1.65, 400, $color-cod-gray);
      text-transform: uppercase;
      letter-spacing: 7px;
      transform: rotate(-90deg);
      display: inline-block;
    }
    svg {
      width: 14px;
      height: auto;
      margin-top: 80px;
    }
  }
  .title_primary {
    margin-bottom: 120px;
    width: 80%;
    max-width: 100%;
    @include below($desktop-lg) {
      max-width: unset;
    }
    @include below($tablet-sm) {
      width: 100%;
      margin-bottom: 70px;
      text-align: center;
      margin-bottom: 40px;
    }
    @include below($mobile-lg) {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  .intro_block {
    h3 {
      @include fontFace(26px, 1.2, 500, $color-cod-gray);
      text-transform: uppercase;

      @include below(1366px) {
        font-size: 24px;
      }
      @include below($desktop-sm) {
        font-size: 22px;
      }
      @include below($tablet-lg) {
        font-size: 26px;
        margin-bottom: 20px;
      }
      @include below($tablet-sm) {
        text-align: center;
      }
      @include below($mobile-lg) {
        font-size: 22px;
      }
    }
    .banner_image {
      position: relative;
      width: 70%;
      height: 327px;
      // aspect-ratio: 821/327;
      z-index: 1;
      @include below($tablet-lg) {
        width: 100%;
      }
      &::after {
        content: "";
        z-index: 2;
        position: absolute;
        inset: 0;
        display: block;
        background: linear-gradient(
          180deg,
          rgba($color-white, 0) 0,
          rgba($color-white, 0.8) 70%,
          rgba($color-white, 1) 100%
        );
        @include below($mobile-lg) {
          content: none;
        }
      }
      @include above($tablet-lg) {
        // &::before {
        //   content: "";
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   transform-origin: bottom;
        //   background-color: $color-white;
        //   z-index: 3;
        //   transition: 0.7s all ease-out;
        // }
      }
      img {
        position: relative;
        z-index: 1;
        object-fit: cover;
        object-position: 50% 80%;
        @include below($tablet-sm) {
          margin-bottom: 30px;
          object-position: center;
        }
      }
      // &.is-inview {
      //   &::before {
      //     transform: scaleY(0);
      //   }
      // }
    }
    .about_bodycopy {
      margin-left: 140px;
      margin-top: -75px;
      position: relative;
      z-index: 2;
      margin-bottom: 100px;
      @include below($tablet-lg) {
        margin-left: 80px;
      }
      @include below($tablet-sm) {
        margin-left: 0px;
        margin-top: 0px;
      }
      @include below($mobile-lg) {
        margin-top: 20px;

        margin-bottom: 50px;
        margin-left: 0;
      }
      p {
        @include fontFace(20px, 1.8, 400, $color-black);
        margin-bottom: 54px;
        @include below($mobile-lg) {
          font-size: 16px;
        }
      }
      .about_footer {
        display: flex;
        @include below($mobile-lg) {
          flex-flow: column;
        }
        h4 {
          @include fontFace(24px, 1.65, 600, $color-cod-gray);
          max-width: 83%;
          @include below($mobile-lg) {
            max-width: 100%;
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 1.4;
          }
        }
        .ms-auto {
          @include below($mobile-lg) {
            // margin-left: 0 !important;
            margin-right: auto;
          }
        }
        .cta_secondary {
          margin-left: auto;
          margin-right: 30px;
          @include below($mobile-lg) {
            margin-right: 00;
          }
        }
      }
    }
  }
  .achievements_row {
    .achievement_cards {
      position: relative;
      @include above($tablet-lg) {
        &::after {
          content: "";
          background-color: $color-white;
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: right;
          width: 100%;
          height: 100%;
          transition: 1s all ease-out;
        }
      }
      @include below($tablet-lg) {
        margin-bottom: 50px;
      }
      @include below($mobile-lg) {
        text-align: center;
      }
      .cardheader {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        @include below($mobile-lg) {
          justify-content: center;
        }
        img {
          width: 50px;
          height: 50px;
          margin-right: 17px;
          @include below($tablet-sm) {
            display: none;
          }
        }
        h3 {
          @include fontFace(60px, 0.9, 800, transparent);
          background-image: linear-gradient(to right, #e74847, #f84c26);
          -webkit-background-clip: text;
          margin-bottom: 0;
        }
      }
      h4 {
        @include fontFace(24px, 1.1, 400, $color-cod-gray);
        text-transform: capitalize;
        margin-bottom: 5px;
      }
      p {
        @include fontFace(14px, 1.1, 300, $color-black);
        max-width: 80%;
        @include below($mobile-lg) {
          max-width: 100%;
          font-size: 16px;
        }
      }
      &.is-inview {
        &::after {
          transform: scaleX(0);
        }
      }
    }
    & > div {
      &:nth-child(even) {
        .achievement_cards {
          .cardheader {
            h3 {
              background-image: linear-gradient(to right, #f84c26, #e74847);
            }
          }
        }
      }
    }
  }
  .is-inview {
    position: relative;
    @include above($tablet-lg) {
      &::after {
        content: "";
        background-color: $color-white;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: right;
        width: 100%;
        height: 100%;
        transition: 1s all ease-out;
      }
    }
    @include below($tablet-sm) {
      margin-bottom: 50px;
    }
    @include below($mobile-lg) {
      text-align: center;
    }
    .cardheader {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      @include below($mobile-lg) {
        justify-content: center;
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 17px;
        @include below($tablet-sm) {
          display: none;
        }
      }
      h3 {
        @include fontFace(60px, 0.9, 800, transparent);
        background-image: linear-gradient(to right, #e74847, #f84c26);
        -webkit-background-clip: text;
        margin-bottom: 0;
      }
    }
    h4 {
      @include fontFace(24px, 1.1, 400, $color-cod-gray);
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    p {
      @include fontFace(14px, 1.1, 300, $color-black);
      max-width: 80%;
      @include below($mobile-lg) {
        max-width: 100%;
      }
    }
    // &.is-inview {
    &::after {
      transform: scaleX(0);
    }
    // }
  }
}
.development__trends ~ .client_testimonials {
  padding-top: 50px;
  @include below($mobile-lg) {
    padding-top: 20px;
  }
}
