/** @format */

.hero_banner {
  width: 100vw;
  max-width: 100vw;
  // height: 200vh;
  overflow: hidden;
  .herobanner_inner_wrap {
    display: flex;
    // width: 100%;
    width: max-content;
    @include below($tablet-lg) {
      flex-flow: column;
    }
    // transform: translateY(0) !important;
    // position: static !important;
    .banner_head {
      // width: 55%;
      width: 55vw;
      // flex: 0 0 55%;
      display: flex;
      align-items: center;
      height: 100vh;
      padding-left: 90px;
      position: relative;
      @include below($tablet-lg) {
        padding-top: 220px;
        padding-bottom: 200px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        display: block;
      }
      @include below($tablet-sm) {
        padding-top: 160px;
        padding-bottom: 260px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include below($mobile-lg) {
        padding-top: 120px;
        padding-bottom: 300px;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
      .content_wrap {
        display: block;
        width: 100%;
        h1 {
          @include fontFace(120px, 0.9, 800, $color-black);
          text-transform: uppercase;
          margin-bottom: 30px;
          @include below($desktop-lg) {
            font-size: 80px;
            margin-bottom: 20px;
          }
          @include below($tablet-lg) {
            text-align: center;
            width: 100%;
          }
          @include below($desktop-sm) {
            font-size: 90px;
          }
          @include below($tablet-lg) {
            font-size: 100px;
          }
          @include below($tablet-sm) {
            font-size: 80px;
          }
          @include below($mobile-lg) {
            font-size: 45px;
          }
          .line {
            display: block;
            overflow: hidden;
          }
          span {
            @include fontStyleInherit();
            background-image: linear-gradient(to right, #f5333f, #ff5c00);
            -webkit-background-clip: text;
            color: transparent;
          }
          #textOut {
            display: block;
            position: relative;
            min-height: 110px;
            width: max-content;
            @include below($desktop-lg) {
              min-height: 72px;
            }
            @include below($desktop-sm) {
              min-height: 83px;
            }
            @include below($tablet-lg) {
              min-height: 80px;
              text-align: center;
              margin: auto;
            }
            @include below($mobile-lg) {
              min-height: 45px;
            }
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              right: -20px;
              width: 10px;
              height: 100%;
              background-color: #ff5c00;
              animation: blink 1s linear infinite;
              transition: 0.3s all ease-in-out;
              @include below($mobile-lg) {
                width: 5px;
                right: -10px;
              }
              @keyframes blink {
                0%,
                100% {
                  opacity: 1;
                }
                50% {
                  opacity: 0;
                }
              }
            }
          }
        }
        .cta_primary {
          @include below($tablet-lg) {
            margin: auto;
          }
        }
      }
      .banner_ai_footer {
        position: absolute;
        left: 90px;
        bottom: 0;
        width: 70%;
        @include below($desktop-lg) {
          width: 85%;
        }
        @include below($mobile-lg) {
          width: 100%;
          left: 0px;
        }
        .ai_featured_img {
          width: 220px;
          @include below($desktop-lg) {
            width: 180px;
          }
          @include below($mobile-lg) {
            margin: auto;
          }
          img {
          }
        }
        .ai_content_wrap {
          position: absolute;
          z-index: 5;
          top: 50%;
          left: 15%;
          display: flex;
          align-items: flex-start;
          @include below($mobile-lg) {
            left: 50%;
            transform: translateX(-50%);
            max-width: 100vw;
            flex-flow: column;
            width: max-content;
            top: auto;
            bottom: 90%;
            padding: 0 15px;
          }
          h3 {
            @include fontFace(24px, 1.2, 400, $color-cod-gray);
            margin-bottom: 5px;
            @include below($desktop-sm) {
              font-size: 20px;
            }
            @include below($mobile-lg) {
              text-align: center;
            }
          }
          p {
            @include fontFace(14px, 1.7, 400, $color-black);
            margin-bottom: 0px;
            @include below($mobile-lg) {
              text-align: center;
            }
          }
          & > div {
            // width: 50%;
            // flex: 0 0 50%;
            padding: 0 22px;
            max-width: max-content;
            // border-right: 1px solid #a0a0a0;
            @include below($mobile-lg) {
              width: 100%;
              flex: 0 0 100%;
              border: 0;
              max-width: 100%;
              &:first-child {
                padding-bottom: 10px;
                // border-bottom: 1px solid $color-woodsmoke;
                margin-bottom: 10px;
              }
            }
            & + div {
              border-right: 0;
            }
          }
        }
      }
    }
    .quick_links_wrap {
      // max-width: 45%;
      max-width: max-content;
      height: 100vh;
      @include below($tablet-lg) {
        height: unset;
        max-width: 100vw;
        overflow-x: hidden;
        // &:not(.banner_slider_wrap) {
        //   display: none;
        // }
      }
      .slick-slide > div {
        height: 100%;
      }
      .slick-track {
        height: 100%;
      }
      .hero_quick_links {
        display: flex;
        height: 100%;
        width: max-content;
        @include below($tablet-lg) {
          // width: 100%;
          flex-wrap: wrap;
          width: 100vw;
        }
        .quick_link {
          display: block;
          height: 100%;
          width: 22.5vw;
          flex: 0 0 22.5vw;
          overflow: hidden;
          border-left: 1px solid #ddd;
          cursor: none;
          @include below($tablet-lg) {
            width: 50vw;
            flex: 0 0 50vw;
            height: 50vh;
            border-left: 0;
          }
          @include below($mobile-lg) {
            width: 100vw;
            flex: 0 0 100vw;
            height: auto;
            aspect-ratio: 1/0.85;
          }
          .wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            &::after {
              content: "";
              background-color: $color-cinnabar;
              inset: 0;
              position: absolute;
              z-index: 2;
              mix-blend-mode: multiply;
              transition: 0.4s all ease-out;
              opacity: 0;
              @include below($tablet-lg) {
                opacity: 1;
              }
            }
            img {
              position: relative;
              z-index: 1;
              object-position: bottom;
              transform: scale(1.2);
              transition: 0.4s all ease-out;
              opacity: 0;
              height: auto;
              display: block;
              margin-top: auto;
              display: block;
              @include below($tablet-lg) {
                opacity: 1;
                width: 70%;
                margin-left: auto;
                transform: scale(1);
              }
              @include below($mobile-lg) {
                height: 100%;
                object-position: bottom right;
              }
            }
            .link_footer {
              position: absolute;
              z-index: 5;
              bottom: 55px;
              right: 80px;
              width: calc(100% - 90px);
              text-align: right;
              transform: translateY(15px);
              transition: 0.4s all ease-in-out;
              @include below($desktop-sm) {
                right: 50px;
              }
              @include below($tablet-lg) {
                text-align: left;
                transform: translateY(0px);
              }
              @include below($mobile-lg) {
                right: 30px;
                width: calc(100% - 60px);
              }
              span {
                @include fontFace(60px, 1, 700, $color-cod-gray);
                display: block;
                margin-bottom: 10px;
                transition: 0.3s all ease-in-out;
                @include below($desktop-sm) {
                  font-size: 50px;
                }
                @include below($tablet-lg) {
                  color: $color-white;
                }
              }
              h4 {
                @include fontFace(31px, 1.1, 400, $color-cod-gray);
                margin-bottom: 10px;
                transition: 0.3s all ease-in-out;
                @include below($desktop-sm) {
                  font-size: 25px;
                }
                @include below($tablet-lg) {
                  color: $color-white;
                  font-size: 30px;
                }
              }
              h5 {
                @include fontFace(14px, 1.1, 600, $color-cod-gray);
                transition: 0.3s all ease-in-out;
                opacity: 0;
                @include below($tablet-lg) {
                  color: $color-white;
                  opacity: 1;
                  font-size: 16px;
                }
              }
            }
          }
          &:nth-of-type(2),
          &:nth-of-type(5),
          &:nth-of-type(8) {
            .wrapper {
              &::after {
                background-color: $color-pomegranate;
              }
            }
          }
          &:nth-of-type(3),
          &:nth-of-type(6),
          &:nth-of-type(9) {
            .wrapper {
              &::after {
                background-color: $color-burnt-sienna;
              }
            }
          }
          // &:hover {
          //   .wrapper {
          //     &::after {
          //       opacity: 1;
          //     }
          //     img {
          //       transform: scale(1);
          //       opacity: 1;
          //     }
          //     .link_footer {
          //       transform: translateY(0px);
          //       h5 {
          //         opacity: 1;
          //         color: $color-gallery;
          //       }
          //       h4,
          //       span {
          //         color: $color-gallery;
          //       }
          //     }
          //   }
          // }
          &.mouseOver {
            .wrapper {
              &::after {
                opacity: 1;
              }
              img {
                transform: scale(1);
                opacity: 1;
              }
              .link_footer {
                transform: translateY(0px);
                h5 {
                  opacity: 1;
                  color: $color-gallery;
                }
                h4,
                span {
                  color: $color-gallery;
                }
              }
            }
          }
          // &:nth-of-type(odd):last-child {
          //   width: 100vw;
          //   flex: 0 0 100vw;
          // }
        }
      }
      &.banner_slider_wrap {
        overflow: hidden;
        display: none;
        .slick-track {
          height: 100%;
        }
        @include below($tablet-lg) {
          display: block;
          height: calc(100vh - 670px);
          max-width: 100vw;
        }
        @include below($tablet-sm) {
          display: block;
          height: calc(100vh - 476px);
        }
        @include below($mobile-lg) {
          display: block;
          height: 600px;
        }
        .hero_quick_links {
          width: 100%;
          .quick_link {
            border-left: 0;
            border-right: 1px solid #ccc;
          }
          .slick-slide {
            @include below($tablet-lg) {
              width: 40vw !important;
              flex: 0 0 40vw !important;
            }
            @include below($mobile-lg) {
              width: 100vw !important;
              flex: 0 0 100vw !important;
            }
            .wrapper {
              &::after {
                opacity: 1;
              }
              img {
                transform: scale(1);
                opacity: 1;
              }
              .link_footer {
                transform: translateY(0px);
                h5 {
                  opacity: 1;
                  color: $color-gallery;
                }
                h4,
                span {
                  color: $color-gallery;
                }
              }
            }
            &.slick-current {
            }
          }
        }
      }
    }
  }
}
