.hero_banner {
  width: 100vw;
  max-width: 100vw;
  // height: 200vh;
  overflow: hidden;
  .herobanner_inner_wrap {
    display: flex;
    // width: 100%;
    width:max-content;
    @include below($tablet-lg) {
      flex-flow: column;
    }
    // transform: translateY(0) !important;
    // position: static !important;
    .banner_head {
      // width: 55%;
      width: 55vw;
      // flex: 0 0 55%;
      display: flex;
      align-items: center;
      height: 100vh;
      padding-left: 90px;
      @include below($tablet-lg) {
        padding-top: 220px;
        padding-bottom: 100px;
        height: auto;
        padding-left: 50px;
      }
      @include below($tablet-sm) {
        padding-top: 120px;
        padding-bottom: 60px;
        height: auto;
        padding-left: 50px;
      }
      @include below($mobile-lg) {
        padding-top: 120px;
        padding-bottom: 60px;
        height: auto;
        padding-left: 20px;
      }
      .content_wrap {
        display: block;
        // height: 100%;
        h1 {
          @include fontFace(110px, 0.9, 800, $color-black);
          text-transform: uppercase;
          margin-bottom: 30px;
          @include below($desktop-sm) {
            font-size: 90px;
          }
          @include below($tablet-lg) {
            font-size: 100px;
          }
          @include below($tablet-sm) {
            font-size: 80px;
          }
          @include below($mobile-lg) {
            font-size: 45px;
          }
          span {
            @include fontStyleInherit();
            background-image: linear-gradient(to right, #ee8263, #e74847);
            -webkit-background-clip: text;
            color: transparent;
          }
        }
      }
    }
    .quick_links_wrap {
      // max-width: 45%;
      max-width: max-content;
      height: 100vh;
      @include below($tablet-lg) {
        height: 600px;
        max-width: 100%;
        overflow-x: auto;
        &:not(.banner_slider_wrap) {
          display: none;
        }
      }
      .slick-slide > div {
        height: 100%;
      }
      .slick-track {
        height: 100%;
      }
      .hero_quick_links {
        display: flex;
        height: 100%;
        width: max-content;
        @include below($tablet-lg) {
          // width: 100%;
        }
        .quick_link {
          display: block;
          height: 100%;
          width: 22.5vw;
          flex: 0 0 22.5vw;
          overflow: hidden;
          border-left: 1px solid #ddd;
          cursor: none;
          @include below($tablet-lg) {
            width: 40%;
            flex: 0 0 40%;
          }
          .wrapper {
            width: 100%;
            height: 100%;
            position: relative;
            &::after {
              content: "";
              background-color: $color-cinnabar;
              inset: 0;
              position: absolute;
              z-index: 2;
              mix-blend-mode: multiply;
              transition: 0.4s all ease-out;
              opacity: 0;
            }
            img {
              position: relative;
              z-index: 1;
              object-fit: cover;
              transform: scale(1.2);
              transition: 0.4s all ease-out;
              opacity: 0.1;
            }
            .link_footer {
              position: absolute;
              z-index: 5;
              bottom: 55px;
              right: 80px;
              width: calc(100% - 90px);
              text-align: right;
              transform: translateY(15px);
              transition: 0.4s all ease-in-out;
              @include below($desktop-sm) {
                right: 50px;
              }
              span {
                @include fontFace(60px, 1, 700, $color-cod-gray);
                display: block;
                margin-bottom: 10px;
                transition: 0.3s all ease-in-out;
                @include below($desktop-sm) {
                  font-size: 50px;
                }
              }
              h4 {
                @include fontFace(31px, 1.1, 400, $color-cod-gray);
                margin-bottom: 10px;
                transition: 0.3s all ease-in-out;
                @include below($desktop-sm) {
                  font-size: 25px;
                }
              }
              h5 {
                @include fontFace(14px, 1.1, 600, $color-cod-gray);
                transition: 0.3s all ease-in-out;
                opacity: 0;
              }
            }
          }
          &:nth-of-type(2) {
            .wrapper {
              &::after {
                background-color: $color-pomegranate;
              }
            }
          }
          &:nth-of-type(3) {
            .wrapper {
              &::after {
                background-color: $color-burnt-sienna;
              }
            }
          }
          &:hover {
            .wrapper {
              &::after {
                opacity: 1;
              }
              img {
                transform: scale(1);
                opacity: 1;
              }
              .link_footer {
                transform: translateY(0px);
                h5 {
                  opacity: 1;
                  color: $color-gallery;
                }
                h4,
                span {
                  color: $color-gallery;
                }
              }
            }
          }
        }
      }
      &.banner_slider_wrap {
        overflow: hidden;
        display: none;
        @include below($tablet-lg) {
          display: block;
          height: calc(100vh - 670px);
        }
        @include below($tablet-sm) {
          display: block;
          height: calc(100vh - 476px);
        }
        @include below($mobile-lg) {
          display: block;
          height: 600px;
        }
        .hero_quick_links {
          width: 100%;
          .quick_link {
            border-left: 0;
            border-right: 1px solid #ccc;
          }
          .slick-slide {
            @include below($tablet-lg) {
              width: 40vw !important;
              flex: 0 0 40vw !important;
            }
            @include below($mobile-lg) {
              width: 100vw !important;
              flex: 0 0 100vw !important;
            }
            .wrapper {
              &::after {
                opacity: 1;
              }
              img {
                transform: scale(1);
                opacity: 1;
              }
              .link_footer {
                transform: translateY(0px);
                h5 {
                  opacity: 1;
                  color: $color-gallery;
                }
                h4,
                span {
                  color: $color-gallery;
                }
              }
            }
            &.slick-current {
            }
          }
        }
      }
    }
  }
}
