/** @format */

.our_branches {
  width: 100%;
  max-width: 100vw;
  position: relative;
  padding: 182px 0 172px;
  overflow: hidden;
  margin: auto;
  @include below($tablet-sm) {
    padding: 100px 0 100px;
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   background-color: rgba($color: $color-cod-gray, $alpha: 0.5);
  //   z-index: 2;
  // }
  & > img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: 1;
    // transform: scale(1.2);
    object-position: 50% 100%;
    filter: brightness(0.4);
  }
  .branches_innerwrap {
    position: relative;
    z-index: 5;
    .branch_header {
      display: flex;
      align-items: flex-end;
      margin-bottom: 90px;
      @include below($tablet-lg) {
        flex-flow: column;
        align-items: flex-start;
      }
      @include below($mobile-lg) {
        margin-bottom: 30px;
        align-items: center;
      }
      .title_primary {
        color: $color-white;
        max-width: 980px;
        @include below($tablet-lg) {
          margin-bottom: 30px;
        }
        @include below($mobile-lg) {
          text-align: center;
          max-width: 100%;
        }
      }
      h4 {
        @include fontFace(14px, 1.5, 500, $color-cinnabar);
        max-width: 395px;
        display: block;
        position: relative;
        transform: translateY(35px);
        margin-left: 50px;
        strong{
          @include fontStyleInherit();
          font-weight: 700;
        }
        @include below($tablet-lg) {
          margin-left: 0px;
          position: static;
          transform: translateY(0px);
        }
        @include below($mobile-lg) {
          text-align: center;
          max-width: 100%;
          transform: translateY(0px);
        }
        &::before {
          content: "";
          position: absolute;
          height: 90px;
          width: 1px;
          background-color: $color-gallery;
          display: block;
          transform: rotate(27deg) translateY(-50%);
          z-index: 5;
          left: -55px;
          top: 20%;
          @include below($tablet-lg) {
            content: none;
          }
        }
      }
    }
    ul {
      // column-count: 2;
      // gap: 60px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -60px;
      @include below($tablet-lg) {
        margin: 0 -15px;
      }
      li {
        padding: 0 60px;
        margin-bottom: 20px;
        width: 50%;
        flex: 0 0 50%;
        @include below($tablet-lg) {
          padding: 0 15px;
        }
        @include below($tablet-sm) {
          width: 100%;
          flex: 0 0 100%;
        }
        @include below($mobile-lg) {
          text-align: left;
        }
      }
    }
    li {
      @include fontFace(20px, 1.5, 400, $color-white);
      max-width: 980px;
      display: flex;
      align-items: flex-start;
      position: relative;
      &::before {
        content: "";
        width: 11px;
        height: 11px;
        flex: 0 0 11px;
        border-radius: 50%;
        background-color: $color-white;
        margin-top: 8px;
        margin-right: 15px;
        @include below($mobile-lg) {
          width: 8px;
          height: 8px;
          flex: 0 0 8px;
          margin-right: 10px;
        }
      }
      @include below(1366px) {
        // font-size: 22px;
      }
      @include below($tablet-sm) {
        // font-size: 25px;
      }
      @include below($mobile-lg) {
        font-size: 16px;
        text-align: center;
      }
    }
    p {
      @include fontFace(36px, 1.5, 400, $color-white);
      max-width: 980px;
      @include below(1366px) {
        font-size: 30px;
      }
      @include below($tablet-sm) {
        font-size: 25px;
      }
      @include below($mobile-lg) {
        font-size: 16px;
        text-align: center;
      }
    }
    .row {
      margin: 0 -30px;
      @include below($tablet-lg) {
        margin: 0 -15px;
      }
      & > div {
        padding: 0 30px;
        @include below($tablet-lg) {
          padding: 0 15px;
        }
      }
    }
    .products__card__wrap {
      width: 100%;
      display: block;
      & + .products__card__wrap {
        @include below($tablet-sm) {
          margin-bottom: 60px;
        }
      }
      figure {
        width: 100%;
        height: auto;
        aspect-ratio: 16/8;
        overflow: hidden;
        margin-bottom: 30px;
        img {
          object-fit: cover;
          transition: 0.3s filter ease-in-out;
        }
      }
      h4 {
        @include fontFace(30px, 1.2, 600, $color-white);
        margin-bottom: 10px;
        text-transform: uppercase;
        @include below($tablet-lg) {
          font-size: 24px;
        }
        @include below($tablet-sm) {
          font-size: 22px;
        }
        @include below($mobile-lg) {
          text-align: center;
        }
      }
      .btn_wrap {
        width: 60px;
        height: 60px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin-left: 15px;
        transition: 0.3s all ease-in-out;
        @include below($mobile-lg) {
          display: none;
        }
        svg {
          width: 20px;
          height: auto;
          path,
          line {
            transition: 0.3s all ease-in-out;
          }
        }
      }
      p {
        @include fontFace(18px, 1.5, 400, $color-white);
        max-width: 90%;
        @include below($tablet-lg) {
          max-width: 100%;
          font-size: 16px;
        }
      }
      &:hover {
        @include above($tablet-lg) {
          .btn_wrap {
            background-color: $color-white;
            svg {
              path,
              line {
                stroke: $color-black;
              }
            }
          }
          figure {
            img {
              // transform: scale(1.03);
              filter: brightness(0.8);
            }
          }
          h4 {
            // color: $color-pomegranate;
          }
        }
      }
    }
  }
}
