/** @format */

.cta_primary {
  @include fontFace(14px, 1, 500, $color-cod-gray);
  text-transform: uppercase;
  border: 1px solid $color-black;
  background-color: transparent;
  padding: 16px 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: max-content;
  position: relative;
  overflow: hidden;
  // transition: 0.3s all ease-in-out;
  @include below($mobile-lg) {
    padding: 10px 20px;
    font-size: 12px;
  }
  span {
    @include fontStyleInherit();
    position: relative;
    z-index: 5;
  }
  svg {
    width: 15px;
    flex: 0 0 15px;
    margin-left: 10px;
    path,
    line {
      stroke: $color-cod-gray;
    }
  }
  &.cta_light {
    border-color: $color-gallery;
    color: $color-gallery;
  }
  &.cta_drk {
    background-color: $color-black;
    color: $color-white;
    &::after {
      background-color: $color-white;
      border-color: $color-black;
    }
    &:hover {
      @include above($tablet-lg) {
        border-color: $color-black;
        color: $color-black;
      }
    }
  }
  &::after {
    transition: 0.3s transform ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-cod-gray;
    z-index: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
  }
  &:hover {
    @include above($tablet-lg) {
      // background-color: transparent;
      color: $color-gallery;
      svg {
        path,
        line {
          stroke: $color-gallery;
        }
      }
      &::after {
        transform: scaleY(1);
        transform-origin: top;
      }
    }
  }
}
.cta_tertiary {
  @include fontFace(15px, 1, 500, $color-cod-gray);
  text-transform: uppercase;
  border: 1px solid $color-black;
  padding: 16px 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: max-content;
  transition: 0.3s all ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  span {
    @include fontStyleInherit();
    position: relative;
    z-index: 2;
  }
  svg {
    width: 15px;
    flex: 0 0 15px;
    margin-left: 10px;
    path,
    line {
      stroke: $color-cod-gray;
    }
  }
  &.cta_light {
    &::after {
      transition: 0.3s transform ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-gallery;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform-origin: bottom;
      transform: scaleY(0);
    }
    border-color: $color-gallery;
    color: $color-gallery;
    &:hover {
      @include above($tablet-lg) {
        // background-color: $color-gallery;
        color: $color-cod-gray;
        &::after {
          transform: scaleY(1);
          transform-origin: top;
        }
      }
    }
  }
}
.cta_secondary {
  width: 148px;
  height: 148px;
  flex: 0 0 148px;
  border: 0;
  background-color: $color-cinnabar;
  padding: 25px;
  padding-top: 30px;
  @include fontFace(14px, 1.1, 500, $color-gallery);
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  // transition: 0.3s all ease-in-out;
  position: relative;
  overflow: hidden;
  @include below($mobile-lg) {
    width: 100px;
    height: 100px;
    font-size: 12px;
    padding: 12px;
    padding-top: 20px;
  }
  &::before {
    content: "";
    background-color: $color-cod-gray;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    z-index: 1;
    transition: 0.4s transform ease-in-out;
  }
  span {
    @include fontStyleInherit();
    position: relative;
    z-index: 5;
  }
  svg {
    width: 15px;
    height: auto;
    flex: 0 0 15px;
    margin-top: 12px;
    position: relative;
    z-index: 5;
    path,
    line {
      stroke: $color-white;
    }
  }
  &:hover {
    color: $color-gallery;
    @include above($tablet-lg) {
      color: $color-gallery;
      // background-color: $color-pomegranate;
      &::before {
        transform: translate(-50%, -50%) scale(3);
      }
    }
  }
}
