.empowered_brand_block {
  // padding: 120px 90px;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 100%;
  background-color: $color-blaze-orange;
  height: 100vh;
  .empower_inner_wrap {
    padding: 100px 0;
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    max-width: 100%;
    h5 {
      @include fontFace(30px, 1.2, 500, $color-black);
      margin-bottom: 60px;
      text-transform: capitalize;
      text-align: center;
    }
    h2 {
      @include fontFace(150px, 1.2, 700, $color-black);
      margin-bottom: 100px;
      text-transform: uppercase;
      width: max-content;
      padding-left: 300px;
      padding-right: 300px;
      // text-align: center;
    }
  }
}
