/** @format */

footer {
  background-color: $color-cod-gray;
  padding: 96px 0 0;
  overflow: hidden;
  position: relative;
  z-index: 101;
  .footer_inner_wrap {
    .social_media_links {
      display: flex;
      align-items: flex-start;
      margin-bottom: 108px;
      @include below($mobile-lg) {
        margin-bottom: 50px;
        flex-flow: column;
        align-items: center;
        width: 100%;
      }
      h4 {
        @include fontFace(22px, 1.5, 500, $color-gallery);
        text-transform: uppercase;
        margin-right: 54px;
        @include below($tablet-sm) {
          margin-right: 30px;
        }
        @include below($mobile-lg) {
          margin-bottom: 15px;
          margin-right: 0;
        }
      }
      ul {
        display: flex;
        align-items: center;
        li {
          & + li {
            margin-left: 30px;
            @include below($tablet-sm) {
              margin-left: 20px;
            }
          }
          a {
            width: 47px;
            height: 47px;
            border: 1px solid $color-gallery;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 13px;
            transition: 0.3s all ease-in-out;
            img {
              // width: ;
              transition: 0.3s all ease-in-out;
            }
            &:hover {
              @include above($tablet-lg) {
                background-color: $color-gallery;
                img {
                  filter: invert(1);
                }
              }
            }
          }
        }
      }
    }
    .contact_pane_wrap {
      display: flex;
      @include below($mobile-lg) {
        width: 100%;
        justify-content: center;
      }
      .logo_wrap {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @include below($mobile-lg) {
          width: 120px;
          height: 120px;
        }
        .bg_image {
          inset: 0;
          object-fit: cover;
          z-index: 1;
          position: absolute;
        }
        .brand_logo {
          width: 40px;
          height: auto;
          position: relative;
          z-index: 5;
        }
      }
      .contact-btn_wrap {
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        z-index: 5;
        margin-left: -20px;
        @include below($mobile-lg) {
          width: 120px;
          height: 120px;
        }
        img {
          position: absolute;
          z-index: 5;
          width: 100%;
          height: 100%;
          left: 0;
          object-fit: contain;
          top: 0;
          animation: 6s rotate infinite linear;
          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
        .inner_wrap {
          width: 83px;
          height: 83px;
          border-radius: 50%;
          padding: 15px;
          display: flex;
          position: relative;
          justify-content: center;
          align-items: center;
          transition: 0.3s all ease-in-out;
          @include below($mobile-lg) {
            width: 60px;
            height: 60px;
          }
          &::after {
            transition: 0.3s all ease-in-out;

            background-color: $color-mine-shaft;
            content: "";
            z-index: -1;
            border-radius: 50%;
            position: absolute;
            inset: 0;
          }
          svg {
            width: 30px;
            height: auto;
            path,
            line {
              stroke: $color-gallery;
            }
          }
        }
        &:hover {
          @include above($tablet-lg) {
            .inner_wrap::after {
              transform: scale(1.1);
              // background-color: $color-pomegranate2;
            }
          }
        }
      }
    }
    .footer_quick_links {
      h5 {
        @include fontFace(22px, 1.5, 500, $color-gallery);
        text-transform: uppercase;
        // margin-right: 54px;
        margin-bottom: 15px;
        @include below($tablet-lg) {
          // margin-bottom: 30px;
        }
        @include below($mobile-lg) {
          text-align: center;
        }
      }
      ul {
        li {
          a {
            @include fontFace(14px, 1.2, 500, $color-alto);
            text-transform: uppercase;
            transition: 0.4s all ease-in-out;
            display: block;
            overflow: hidden;
            position: relative;
            width: max-content;
            @include below($desktop-sm) {
              font-size: 14px;
            }
            @include below($mobile-lg) {
              font-size: 14px;
              text-align: center;
              width: 100%;
            }
            span {
              @include fontStyleInherit();
              transform: translateY(0px);
              display: block;
              transition: 0.25s all ease-in-out;
            }
            &::after {
              content: attr(data-animate-text);
              @include fontStyleInherit();
              transition: 0.25s all ease-in-out;
              position: absolute;
              left: 0;
              transform: translateY(0px);
              // color: $color-cinnabar;
              top: 100%;
            }
            &:hover {
              @include above($tablet-lg) {
                // color: $color-cinnabar;
                span {
                  transform: translateY(-20px);
                  @include below($desktop-sm) {
                    transform: translateY(-20px);
                  }
                  // animation: moveQuicklink 0.4s forwards linear;
                  // @keyframes moveQuicklink {
                  //   0% {
                  //     transform: translateY(0px);
                  //   }
                  //   100% {
                  //     transform: translateY(-26px);
                  //     @include below($desktop-sm) {
                  //       transform: translateY(-22px);
                  //     }
                  //   }
                  // }
                }
                &::after {
                  transform: translateY(-20px);
                  @include below($desktop-sm) {
                    transform: translateY(-20px);
                  }
                  // animation: moveHolder 0.4s forwards linear;
                  // @keyframes moveHolder {
                  //   0% {
                  //     transform: translateY(0px);
                  //   }
                  //   100% {
                  //     transform: translateY(-26px);
                  //     @include below($desktop-sm) {
                  //       transform: translateY(-20px);
                  //     }
                  //   }
                  // }
                }
              }
            }
          }
          & + li {
            margin-top: 10px;
          }
        }
      }
    }
    .bottom_booter {
      border-top: 1px solid $color-tundora;
      padding-top: 60px;
      margin-top: 60px;
      .footer_btn_wrapper {
        display: flex;
        @include below($tablet-sm) {
          margin-bottom: 30px;
          justify-content: center;
        }
        @include below($mobile-lg) {
          margin-bottom: 30px;
          justify-content: center;
        }
        .cta_tertiary {
          &:not(:last-child) {
            @include below($tablet-sm) {
              margin-right: 20px;
            }
          }
          & + .cta_tertiary {
            margin-left: 45px;
            @include below($mobile-lg) {
              margin-left: 0px;
            }
          }
        }
      }
      p {
        @include fontFace(15px, 1.5, 400, $color-gallery);
        display: block;
        width: max-content;
        margin-left: auto;
        margin-top: auto;
        @include below($tablet-sm) {
          margin-right: auto;
        }
        @include below($mobile-lg) {
          text-align: center;
        }
      }
    }
    .footer_text {
      overflow: hidden;
      margin-top: 77px;
      @include below($mobile-lg) {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-top: 50px;
      }
      span {
        @include fontFace(11.6vw, 1, 700, transparent);
        margin-bottom: -30px;
        display: block;
        background: linear-gradient(132deg, #fff 0%, #bfbfbf 100%);
        -webkit-background-clip: text;
        text-transform: uppercase;
        text-align: center;
        @include below($desktop-lg) {
          font-size: 11.4vw;
          margin-bottom: -25px;
        }
        @include below(1366px) {
          font-size: 11.3vw;
        }
        @include below($tablet-lg) {
          margin-bottom: 0px;
        }
        @include below($mobile-lg) {
          font-size: 13vw;
        }
      }
    }
    .footer_top_left {
      @include below($tablet-lg) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 80px;
      }
      @include below($mobile-lg) {
        flex-flow: column;
      }
    }
    address {
      width: 100%;
      margin-bottom: 50px;
      @include below($mobile-lg) {
        text-align: center;
      }
      h4 {
        @include fontFace(16px, 1, 500, $color-gallery);
        text-transform: uppercase;
        margin-bottom: 15px;
        // margin-right: 54px;
        // @include below($tablet-sm) {
        //   margin-right: 30px;
        // }
        // @include below($mobile-lg) {
        //   margin-bottom: 15px;
        //   margin-right: 0;
        // }
      }
      p {
        @include fontFace(14px, 1.5, 300, $color-gallery);
        max-width: 70%;
        @include below($tablet-sm) {
          max-width: 100%;
        }
        span,
        a {
          @include fontStyleInherit();
          display: block;
          font-weight: 500;
          margin-top: 5px;
          color: $color-gallery !important;
        }
      }
    }
  }
  &.decorated__footer .footer_inner_wrap .footer_text span {
    background: linear-gradient(132deg, #f5333f 0%, #ff5c00 100%);
    -webkit-background-clip: text;
  }
}
