header {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  // padding: 50px 90px;
  transition: 0.5s all ease-in-out;
  z-index: 100;
  overflow: hidden;
  height: max-content !important;
  &::before {
    content: "";
    background-color: $color-white;
    inset: 0;
    transition: 0.3s all ease-in-out;
    position: absolute;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
  }
  @include below($tablet-lg) {
    padding: 25px 50px;
    position: fixed;
  }
  @include below($mobile-lg) {
    padding: 25px 15px;
  }
  .header_inner_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand_logo {
      width: 160px;
      height: auto;
      position: fixed;
      top: 50px;
      left: 90px;
      z-index: 100;
      transition: 0.5s all ease-in-out;
      @include below($tablet-lg) {
        position: static;
      }
      @include below($mobile-lg) {
        width: 120px;
      }
      img {
        height: auto;
      }
    }
    .menu_icon_wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: fixed;
      top: 50px;
      right: 90px;
      z-index: 100;
      transition: 0.5s all ease-in-out;

      @include below($tablet-lg) {
        position: static;
      }
      span {
        @include fontFace(18px, 1, 400, $color-cod-gray);
        display: inline-block;
        margin-right: 22px;
        text-transform: uppercase;
        @include below($mobile-lg) {
          display: none;
        }
      }
      ul {
        li {
          display: block;
          height: 2px;
          border-radius: 10px;
          background-color: $color-cod-gray;
          width: 50px;
          & + li {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.sticky_header {
  header {
    &::before {
      transform: scaleY(1);
    }
  }
}
.desktop_sticky {
  header {
    // padding: 20px 30px;
    .brand_logo {
      left: 30px;
      top: 20px;
    }
    .menu_icon_wrap {
      right: 30px;
      top: 30px;
    }
  }
}
