.services_listing {
  padding: 160px 0;
  background: linear-gradient(
    184deg,
    rgba($color-mako, 1) 28%,
    rgba($color-black, 1) 100%
  );
  @include below($tablet-sm) {
    padding: 100px 0;
  }
  @include below($mobile-lg) {
    padding: 60px 0;
  }
  .title {
    @include fontFace(100px, 1.1, 800, $color-alto);
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    // position: sticky;
    // top: 50%;
    @include below($desktop-lg) {
      font-size: 90px;
    }
    @include below($tablet-lg) {
      font-size: 70px;
    }
    @include below($tablet-sm) {
      font-size: 60px;
      margin-bottom: 60px;
      display: flex;
      flex-flow: column;
      justify-content: center;
    }
    @include below($mobile-lg) {
      font-size: 40px;
      margin-bottom: 60px;
    }
    span {
      @include fontStyleInherit();
      display: inline-block;
      position: relative;
      z-index: 5;
      @include below($tablet-sm) {
        text-align: center;
        display: block;
      }
      &:nth-of-type(2) {
        z-index: 1;
        color: $color-cinnabar;
        margin-left: 50px;
        @include below($tablet-lg) {
          margin-left: 30px;
        }
        @include below($tablet-sm) {
          margin-left: 0px;
        }
        @include below($mobile-lg) {
          margin-left: 0;
        }
      }
    }
    svg,
    img {
      width: 249px;
      height: auto;
      position: absolute;
      left: 320px;
      bottom: 0%;
      z-index: 3;
      @include below($desktop-lg) {
        width: 200px;
      }
      @include below($tablet-lg) {
        width: 140px;
        left: 240px;
      }
      @include below($tablet-sm) {
        display: none;
      }
      // @include below($mobile-lg) {
      //   width: 140px;
      //   left: 116px;
      //   bottom: 30px;
      // }
    }
    // transition: 0.7s all ease-in-out;
    @include above($tablet-lg) {
      // &[data-scroll] {
      //   opacity: 0;
      //   transform: translateY(200px);
      //   &.is-inview {
      //     opacity: 1;
      //     transform: translateY(0px);
      //   }
      // }
    }
  }
  .services_outer_wrap {
    // overflow: hidden;
    .slick-arrow {
      width: 50px;
      height: 50px;
      background-color: $color-gallery;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      z-index: 5;
      @include below($mobile-lg) {
        width: 35px;
        height: 35px;
      }
      svg {
        width: 20px;
        height: auto;
        @include below($mobile-lg) {
          width: 15px;
        }
      }
      &::before {
        content: none;
      }
      &.slick-prev {
        left: 5px;
      }
      &.slick-next {
        right: 5px;
      }
    }
  }
  .services_row {
    display: flex;
    margin: 0 -15px;
    margin-bottom: 90px;
    @include below($tablet-lg) {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-gap: 20px;
      // margin: 0 0 50px;
      flex-wrap: wrap;
    }
    @include below($tablet-sm) {
      display: block;
      margin-bottom: 40px;
    }
    @include below($mobile-lg) {
      display: block;
      margin-bottom: 20px;
    }
    .services_item {
      padding: 0 15px;
      width: 33.33%;
      flex: 0 0 33.33%;
      transition: 0.4s all ease-out;
      display: block;
      @include below($tablet-lg) {
        width: 50%;
        flex: 0 0 50%;
        margin-bottom: 40px;
      }
      @include below($tablet-sm) {
        margin-bottom: 0;
      }
      @include below($mobile-lg) {
        width: 100%;
        flex: 0 0 100%;
      }
      span {
        @include fontFace(20px, 1.5, 600, $color-gallery);
        margin-bottom: 20px;
        display: block;
        @include below($tablet-sm) {
          display: none;
        }
      }
      .item_inner {
        position: relative;
        width: 100%;
        height: 555px;
        overflow: hidden;
        display: block;
        // aspect-ratio: 149 /150;
        @include below($desktop-lg) {
          height: 400px;
        }
        @include below($tablet-lg) {
          height: 350px;
        }
        @include below($mobile-lg) {
          height: auto;
          aspect-ratio: 386 /305;
        }
        img {
          object-fit: cover;
          transition: 0.7s all ease-out;
          @include above($tablet-lg) {
            // height: 0%;
            transform: scale(1) translateZ(0);
          }
          @include below($tablet-sm) {
            filter: brightness(0.7);
          }
        }
        .hover_icon {
          position: absolute;
          top: 45px;
          right: 45px;
          z-index: 5;
          padding: 15px 25px;
          background-color: $color-gallery;
          border-radius: 100px;
          transition: 0.3s all ease-in-out;
          opacity: 1;
          transform: scale(1);
          @include below($tablet-lg) {
            width: 35px;
            height: 35px;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 25px;
            right: 25px;
          }
          @include below($tablet-sm) {
            display: none;
          }
          svg {
            width: 15px;
            height: auto;
          }
        }

        h4 {
          position: absolute;
          bottom: 40px;
          max-width: calc(100% - 20px);
          // padding: 0 10px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          @include fontFace(35px, 1.3, 400, $color-gallery);
          @include below($desktop-lg) {
            font-size: 30px;
          }
          @include below($tablet-lg) {
            font-size: 20px;
          }
          @include below($tablet-sm) {
            font-size: 26px;
          }
          @include below($mobile-lg) {
            font-size: 20px;
          }
          svg {
            width: 16px;
            height: auto;
            flex: 0 0 16px;
            margin-left: 20px;
            path,
            line {
              stroke: $color-gallery;
            }
          }
        }
        &:hover {
          @include above($tablet-lg) {
            img {
              transform: scale(1) translateZ(0);
            }
            .hover_icon {
              opacity: 0;
              transform: scale(0);
            }
          }
        }
      }
      &.is-inview {
        .item_inner {
          img {
            height: 100%;
          }
        }
      }
    }
    &:hover {
      @include above($tablet-lg) {
        .services_item {
          width: 32%;
          flex: 0 0 32%;
          &:hover {
            width: 36%;
            flex: 0 0 36%;
          }
        }
      }
    }
  }
  p {
    @include fontFace(30px, 1.5, 300, $color-gallery);
    @include below($desktop-lg) {
      font-size: 28px;
    }
    @include below($mobile-lg) {
      font-size: 22px;
      text-align: center;
    }
  }
  .tech_logo {
    margin-top: 116px;
    img {
      // width: 250px;
      height: 90px;
      object-fit: contain;
      max-width: 250px;
      object-position: left;
      @include below($tablet-lg) {
        margin-bottom: 50px;
      }
      @include below($mobile-lg) {
        margin: 0 auto 30px;
        object-position: center;
        max-width: 60%;
        display: block;
      }
    }
  }
}
