/** @format */

.service__detail__banner {
  width: 100%;
  height: auto;
  aspect-ratio: 1440/500;
  overflow: hidden;
  position: relative;
  @include below($mobile-lg) {
    aspect-ratio: 430/302;
  }
  .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__innerwrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    .go__back {
      display: flex;
      align-items: center;
      @include fontFace(14px, 1, 400, $color-white);
      text-transform: uppercase;
      svg {
        width: 90px;
        height: 90px;
        object-fit: contain;
        margin-left: 20px;
        @include below($tablet-lg) {
          width: 60px;
          height: 60px;
        }
        @include below($mobile-lg) {
          width: 30px;
          margin-right: 10px;
          height: 30px;
        }
      }
      @include below($mobile-lg) {
        position: absolute;
        flex-flow: row-reverse;
        top: 15px;
        left: 0px;
      }
    }
    h1 {
      @include fontFace(90px, 1, 600, $color-white);
      text-transform: uppercase;
      text-align: right;
      width: 70%;
      @include below($desktop-lg) {
        font-size: 90px;
      }
      @include below($tablet-lg) {
        font-size: 50px;
        width: 50%;
      }
      @include below($tablet-sm) {
        font-size: 40px;
        width: 50%;
      }
      @include below($mobile-lg) {
        text-align: left;
        font-size: 35px;
      }
    }
  }
  & > img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
