.service_intro {
  padding: 130px 0 50px;
  background-color: $color-white;
  @include below($tablet-lg) {
    padding: 60px 0;
  }
  @include below($mobile-lg) {
    padding: 50px 0 50px;
  }
  figure {
    width: 100%;
    height: auto;
    aspect-ratio: 663/389;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: 50% 100%;
    }
  }
  .content_inner {
    padding-right: 70px;
    height: 100%;
    @include below($tablet-lg) {
      padding-right: 30px;
    }
    @include below($mobile-lg) {
      padding-right: 0;
    }
    h2 {
      @include fontFace(53px, 1.001, 600, $color-black);
      text-transform: uppercase;
      @include below($desktop-lg) {
        font-size: 40px;
      }
      @include below(1370px) {
        font-size: 35px;
      }
      @include below($desktop-sm) {
        font-size: 35px;
      }
      @include below($tablet-lg) {
        font-size: 30px;
      }
      @include below($tablet-sm) {
        margin-bottom: 20px;
      }
      @include below($mobile-lg) {
        font-size: 23px;
        line-height: 1.2;
      }
      span {
        @include fontStyleInherit();
        color: #f3f3f3;
        // color: transparent;
        transition: 0.2s all ease-in-out;
        @include below($tablet-lg) {
          color: $color-black;
          padding-right: 3px;
        }
      }
    }
    h4 {
      @include fontFace(20px, 1.4, 400, $color-black);
      max-width: 50%;
      position: absolute;
      bottom: 0;
      right: 70px;
      z-index: 1;
      @include below($desktop-lg) {
        font-size: 16px;
      }
      @include below($tablet-lg) {
        right: 30px;
      }
      @include below($tablet-sm) {
        position: static;
        margin-bottom: 30px;
        max-width: 100%;
      }
      @include below($mobile-lg) {
        font-size: 14px;
        max-width: 80%;
      }
    }
  }
  &.service_intro--detail {
    .row {
      flex-flow: column;
      & > div {
        flex: 100%;
        width: 100%;
      }
    }
    figure {
      aspect-ratio: 928/303;
      max-width: 70%;
      margin-left: auto;
      @include below($tablet-sm) {
        max-width: 100%;
      }
      @include below($mobile-lg) {
        aspect-ratio: 386/226;
      }
    }
    .content_inner {
      margin-bottom: 97px;
      @include below($tablet-sm) {
        margin-bottom: 0;
      }
      h2 {
        max-width: 80%;
        @include below($tablet-sm){
          max-width: 100%;
        }
      }
      h4 {
        right: auto;
        left: 0;
        top: calc(100% + 90px);
        max-width: 19%;
        @include below($tablet-sm) {
          max-width: 100%;
        }
        @include below($mobile-lg){
          max-width: 100%;
        }
      }
    }
  }
}
