/** @format */

.services_grid {
  width: 100%;
  padding: 100px 0;
  background-color: $color-white;
  position: relative;
  overflow: hidden;
  @include below($tablet-lg) {
    padding: 60px 0;
  }
  @include below($mobile-lg) {
    padding: 0px 0 30px;
  }
  .float_text {
    @include fontFace(180px, 0.7, 800, #ececec);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    display: block;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(180deg);
    position: absolute;
    z-index: -0;
    @include below($desktop-lg) {
      font-size: 130px;
    }
    @include below($tablet-lg) {
      // display: none;
      opacity: 0.3;
      top: 250px;
      transform: translateY(0%) rotate(180deg);
    }
  }
  .service_list_card {
    padding: 60px 0;
    cursor: none !important;
    position: relative;
    z-index: 5;
    @include below($mobile-lg) {
      padding: 40px 0;
    }
    & + .service_list_card {
      border-top: 1px solid #c1c1c0;
    }
    .inner__link {
      margin-top: 30px;
      align-items: center;
      @include fontFace(16px, 1, 600, $color-pomegranate2);
      display: none;
      text-transform: uppercase;
      @include below($tablet-lg) {
        display: flex;
      }
      svg {
        width: 33px;
        height: auto;
        margin-left: 10px;
        path {
          fill: $color-pomegranate2;
        }
      }
    }
    h3 {
      @include fontFace(34px, 1.2, 700, $color-black);
      display: flex;
      text-transform: uppercase;
      align-items: flex-start;
      transition: 0.3s all ease-in-out;
      max-width: calc(100% - 70px);
      @include below($desktop-lg) {
        font-size: 30px;
      }
      @include below($tablet-lg) {
        max-width: 50%;
        margin-bottom: 20px;
      }
      @include below($mobile-lg) {
        font-size: 22px;
        max-width: 100%;
      }
      span {
        @include fontFace(94px, 0.9, 800, $color-black);
        display: block;
        margin-right: 20px;
        transition: 0.3s all ease-in-out;
        @include below($desktop-lg) {
          font-size: 80px;
        }
        @include below($mobile-lg) {
          font-size: 55px;
          margin-right: 14px;
        }
      }
    }
    p {
      @include fontFace(22px, 1.8, 400, $color-black);
      transition: 0.3s all ease-in-out;
      max-width: calc(100% - 40px);

      @include below($desktop-lg) {
        font-size: 20px;
        padding-left: 15px;
      }
      @include below($tablet-lg) {
        padding-left: 0px;
      }
      @include below($tablet-sm) {
        max-width: 100%;
      }
      @include below($mobile-lg) {
        font-size: 16px;
      }
    }
    h4 {
      @include fontFace(22px, 1.6, 600, $color-black);
      transition: 0.3s all ease-in-out;
      max-width: calc(100% - 40px);
      @include below($desktop-lg) {
        font-size: 20px;
        padding-left: 15px;
      }
      @include below($tablet-lg) {
        padding-left: 15px;
      }
      @include below($tablet-sm) {
        max-width: 100%;
      }
      @include below($mobile-lg) {
        font-size: 16px;
        padding-left: 0;
      }
    }
    &:hover {
      @include above($tablet-lg) {
        h3,
        span,
        h4,
        p,
        h5 {
          color: $color-blaze-orange;
        }
      }
    }
  }
}
