.client_testimonials {
  width: 100%;
  padding: 143px 0 162px;
  .client_testimonials_wrapper {
    .title_primary {
      font-weight: 300;
      margin-bottom: 98px;
      span {
        font-weight: 600;
      }
    }
    .testimony_slider_wrap {
      position: relative;
      margin-bottom: 162px;
      transition: 0.7s all ease-in-out;
      &[data-scroll] {
        opacity: 0;
        transform: translateY(200px);
        &.is-inview {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
    .testimony_slider {
      max-width: 840px;
      position: static;
      .slick-arrow {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        bottom: 0;
        top: auto;
        transform: translate(0, 0%);

        &::before {
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          display: flex;
          background-size: 26px 14px;
          background-position: center;
          transition: 0.2s all ease-in-out;
          background-repeat: no-repeat;
          background-image: url(../../icons/arow.svg);
          content: "";
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid $color-cinnabar;
          border-radius: 50%;
          top: 0;
          left: 0;
          transition: 0.2s all ease-in-out;
          transform: scale(0.7);
          opacity: 0;
        }
        &.slick-next {
          transform: scaleX(-1) translate(0, 0%);
          right: 0;
        }
        &.slick-prev {
          right: 80px;
          left: auto;
        }
        &:hover {
          @include above($tablet-lg) {
            &::after {
              transform: scale(1);
              opacity: 1;
            }
            &::before {
             transform: scale(.8);
            }
          }
        }
      }
      .testimony_wrap {
        padding-top: 20px;
        .bodycopy {
          margin-bottom: 89px;
          img {
            width: 144px;
            height: auto;
            float: left;
            margin-right: 50px;
            margin-top: -20px;
          }
          p {
            @include fontFace(32px, 1.65, 400, $color-abbey);
          }
        }
        h5 {
          @include fontFace(25px, 1.5, 500, $color-cod-gray);
        }
        span {
          @include fontFace(25px, 1.6, 400, $color-abbey);
          display: block;
        }
      }
    }
  }
}
.clients_sliders_wrap {
  .clients_slider {
    & + .clients_slider {
      margin-top: 30px;
    }
  }
  .client {
    width: 23vw !important;
    background-color: $color-gallery;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 55px 30px;
    margin: 0 5px;
    img {
      width: 230px;
      height: 72px;
      object-fit: contain;
    }
  }
}
