.client_testimonials {
  width: 100%;
  padding: 143px 0 162px;
  @include below($tablet-sm) {
    padding: 100px 0 100px;
  }
  @include below($mobile-lg) {
    padding: 60px 0;
  }
  .client_testimonials_wrapper {
    .title_primary {
      font-weight: 300;
      margin-bottom: 98px;
      max-width: 830px;
      span {
        font-weight: 600;
        @include below($mobile-lg) {
          display: block;
          text-align: center;
        }
      }
      @include below($desktop-sm) {
        margin-bottom: 50px;
      }
      @include below($mobile-lg) {
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .testimony_slider_wrap {
      position: relative;
      margin-bottom: 162px;
      // transition: 0.7s all ease-in-out;
      @include above($tablet-lg) {
        // &[data-scroll] {
        //   opacity: 0;
        //   transform: translateY(200px);
        //   &.is-inview {
        //     opacity: 1;
        //     transform: translateY(0px);
        //   }
        // }
      }
    }
    .testimony_slider {
      max-width: 840px;
      position: static;
      .slick-arrow {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        bottom: 0;
        top: auto;
        transform: translate(0, 0%);
        z-index: 10;
        @include below($mobile-lg) {
          bottom: -100px;
          width: 60px;
          height: 60px;
        }
        &::before {
          // background-repeat: no-repeat;
          // width: 100%;
          // height: 100%;
          // display: flex;
          // background-size: 26px 14px;
          // background-position: center;
          // transition: 0.2s all ease-in-out;
          // background-repeat: no-repeat;
          // background-image: url(../../icons/arow.svg);
          content: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border: 1px solid $color-cinnabar;
          border-radius: 50%;
          top: 0;
          left: 0;
          transition: 0.2s all ease-in-out;
          transform: scale(0.7);
          opacity: 0;
          @include below($mobile-lg) {
            border-color: $color-mako;
          }
        }
        &.slick-next {
          // transform: scaleX(-1) translate(0, 0%);
          right: 0;
          @include below($mobile-lg) {
            right: 15px;
          }
        }
        &.slick-prev {
          right: 90px;
          left: auto;
          @include below($mobile-lg) {
            right: auto;
            left: 15px;
          }
        }
        svg {
          width: 26px;
          height: auto;
          transition: 0.2s all ease-in-out;
        }
        @include below($tablet-lg) {
          &::after {
            transform: scale(1);
            opacity: 1;
          }
          svg {
            transform: scale(0.8);
            path,
            line {
              stroke: $color-cinnabar;
              @include below($mobile-lg) {
                stroke: $color-mako;
              }
            }
          }
        }
        &:hover {
          @include above($tablet-lg) {
            &::after {
              transform: scale(1);
              opacity: 1;
            }
            svg {
              transform: scale(0.8);
              path,
              line {
                stroke: $color-cinnabar;
              }
            }
            // &::before {
            // }
          }
        }
      }
      .testimony_wrap {
        padding-top: 20px;
        @include below($mobile-lg) {
          padding: 0px 10px 0;
        }
        .bodycopy {
          margin-bottom: 89px;
          @include below($desktop-sm) {
            margin-bottom: 50px;
          }
          @include below($mobile-lg) {
            margin-bottom: 30px;
          }

          img {
            width: 144px;
            height: auto;
            float: left;
            margin-right: 50px;
            margin-top: -20px;
            @include below($mobile-lg) {
              // float: none;
              // margin-top: 0;
              // margin-bottom: 15px;
              display: none;
            }
          }
          p {
            @include fontFace(32px, 1.65, 400, $color-abbey);
            @include below($desktop-sm) {
              font-size: 26px;
            }
            @include below($mobile-lg) {
              font-size: 16px;
              text-align: center;
            }
          }
        }
        h5 {
          @include fontFace(25px, 1.5, 500, $color-cod-gray);
          @include below($mobile-lg) {
            font-size: 18px;
            text-align: center;
          }
        }
        span {
          @include fontFace(25px, 1.6, 400, $color-abbey);
          display: block;
          @include below($mobile-lg) {
            font-size: 18px;
            text-align: center;
          }
        }
      }
    }
  }
}
.clients_sliders_wrap {
  .slick-list,
  .slick-track {
    height: 100%;
  }
  .clients_slider {
    height: 142px;
    & + .clients_slider {
      margin-top: 30px;
      // .slick-slide {
      //   width: 30vw !important;
      // }
    }
    @include below($mobile-lg) {
      height: 80px;
    }
  }
  .client {
    background-color: $color-gallery;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 35px 30px;
    margin: 0 10px;
    max-width: calc(100% - 30px);
    @media (min-width: 1201px) {
      // width: 23vw !important;
    }
    @media (max-width: 1200px) and (min-width: 990px) {
      // width: 33vw !important;
    }
    @include below($tablet-sm) {
      padding: 30px;
      background-color: transparent;
      width: auto;
    }
    @include below($mobile-lg) {
      // width: 60vw !important;
      padding: 20px;
    }
    img {
      width: 230px;
      height: 60px;
      object-fit: contain;
      max-width: 100%;
      @include below($mobile-lg) {
        height: 40px;
        max-width: 150px;
      }
    }
  }
}
