.title_primary {
  @include fontFace(75px, 1.05, 700, $color-cod-gray);
  text-transform: uppercase;
  span {
    @include fontStyleInherit();
  }
  // @include below(1366px) {
  //   font-size: 65px;
  // }
  @include below($desktop-lg) {
    font-size: 60px;
  }
  @include below($desktop-sm) {
    font-size: 58px;
  }
  @include below($tablet-sm) {
    font-size: 50px;
  }
  @include below($mobile-lg) {
    font-size: 30px;
  }
}
.title__secondary {
  @include fontFace(75px, 1.1, 600, $color-cod-gray);
  text-transform: uppercase;
  span {
    @include fontStyleInherit();
  }
  @include below($desktop-lg) {
    font-size: 55px;
  }
  @include below(1366px) {
    font-size: 65px;
  }
  @include below($desktop-sm) {
    font-size: 58px;
  }

  @include below($tablet-sm) {
    font-size: 50px;
  }
  @include below($mobile-lg) {
    font-size: 30px;
  }
}
