.work_together {
  padding: 150px 0 125px;
  width: 100vw;
  @include below($tablet-sm) {
    padding: 100px 0;
  }
  @include below($mobile-lg) {
    padding: 60px 0;
  }
  .title_primary {
    margin-bottom: 44px;
    @include below($tablet-sm) {
      margin-bottom: 10px;
    }
    @include below($mobile-lg) {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  h5 {
    @include fontFace(30px, 1.4, 400, $color-abbey);
    margin-bottom: 106px;
    max-width: 720px;
    @include below($mobile-lg) {
      font-size: 20px;
      margin-bottom: 60px;
      text-align: center;
    }
  }
  .work_footer {
    h4 {
      @include fontFace(26px, 1.6, 500, $color-cod-gray);
      text-transform: uppercase;
      margin-top: 0;
      @include below(1366px) {
        font-size: 24px;
      }
      @include below($desktop-sm) {
        font-size: 22px;
      }
      @include below($tablet-lg) {
        margin-bottom: 30px;
      }
      @include below($tablet-sm) {
        margin-bottom: 15px;
      }
      @include below($mobile-lg) {
        margin-bottom: 5px;
        text-align: center;
      }
    }
    .wrk_contact_info {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      @include below($mobile-lg) {
        flex-flow: column;
        align-items: center;
      }
      .contact_info {
        @include fontFace(40px, 1.1, 700, $color-cod-gray);
        display: block;
        position: relative;
        overflow: hidden;
        width: max-content;
        @include below($mobile-lg) {
          font-size: 20px;
          text-align: center;
          width: 100%;
        }
        & + .contact_info {
          margin-top: 25px;
          @include below($tablet-sm) {
            margin-top: 15px;
          }
        }
        span {
          @include fontStyleInherit();
          display: block;
          transition: 0.4s all ease-in-out;
        }
        &::after {
          content: attr(data-animate-text);
          @include fontStyleInherit();
          transition: 0.4s all ease-in-out;
          position: absolute;
          top: 100%;
          left: 0;
        }
        &:hover {
          span {
            // transform: translateY(-50px);
            animation: moveUp 0.3s forwards linear;
            @keyframes moveUp {
              0% {
                transform: translateY(0px);
              }
              100% {
                transform: translateY(-50px);
              }
            }
          }
          &::after {
            // transform: translateY(-45px);
            animation: movePlaceholder 0.3s forwards linear;
            @keyframes movePlaceholder {
              0% {
                transform: translateY(0px);
              }
              100% {
                transform: translateY(-44px);
              }
            }
          }
        }
      }
      .cta_secondary {
        margin-top: -80px;
        @include below($mobile-lg) {
          margin-top: 20px;
        }
      }
    }
  }
}
