/** @format */

.portfolio_details {
  .img_wrap--slider {
    .slick-slide {
      height: 100vh;
      div {
        height: 100%;
      }
    }
  }
  .slick_arrow,
  .slick_arrow:focus {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex: 0 0 80px;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.09);
    &.slick-disabled {
      opacity: 0;
    }
    &::before {
      content: none;
    }
    svg {
      width: 25px;
      height: auto;
      transition: 0.3s all ease-in-out;
    }
    &.slick_prev {
      left: 15px;
    }
    &.slick_next {
      right: 15px;
    }
    &:hover {
      background-color: $color-white;

      @include above($tablet-lg) {
        svg {
          transform: scale(0.8);
        }
      }
    }
  }
  @include below($tablet-lg) {
    overflow: hidden;
  }
  .portfolio_details__row {
    margin: 0;
    & > div {
      padding: 0;
    }
    @include below($tablet-lg) {
      flex-flow: column-reverse;
    }
  }
  .row {
    .img_wrap {
      // position: sticky;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      height: 100dvh;
      // aspect-ratio: 16/9;
      @include below($tablet-lg) {
        position: static;
        height: auto;
        padding: 0 50px;
      }
      @include below($mobile-lg) {
        padding: 0 15px;
      }
      & + .img_wrap {
        // margin-top: 60px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // position: absolute;
        // inset: 0;
        // transition: 0.4s all ease-in-out;
        &:not(:first-child) {
          // opacity: 0;
          transform: translateY(100%);
          @include below($tablet-lg) {
            transform: translateY(0%);
            // opacity: 1;
          }
        }
        @include below($tablet-lg) {
          // position: static;
          // height: auto;
          // opacity: 1;
          margin-bottom: 30px;
        }
      }
    }

    .content_holder {
      padding: 52px 90px 52px 58px;
      // text-align: justify;
      @include below($tablet-lg) {
        padding: 0px 50px 58px;
      }
      @include below($mobile-lg) {
        padding: 0px 15px 20px;
      }
      .embeded__videos__wrap {
        width: 100%;
        iframe {
          width: 100%;
          height: auto;

          aspect-ratio: 16/9;
        }
      }

      .case__banner {
        @include below($tablet-lg) {
          width: calc(100% + 100px);
          margin-left: -50px;
          margin-bottom: 40px;
          height: 600px;
          position: relative;
          // display: block;
        }
        @include below($mobile-lg) {
          width: calc(100% + 30px);
          margin-left: -15px;
          margin-bottom: 40px;
          height: auto;
          aspect-ratio: 1/0.8;
          // display: block;
        }
        img {
          display: none;
          object-fit: cover;
          @include below($tablet-lg) {
            display: block;
            filter: brightness(0.5);
          }
        }
        .case__banner__inner {
          @include below($tablet-lg) {
            position: absolute;
            left: 0;
            top: 0;
            padding: 50px;
            z-index: 1;
            width: 100%;
            display: flex;
            align-items: center;
            height: 100%;
          }
          @include below($mobile-lg) {
            padding: 15px;
          }
          .btn-bck {
            @include below($tablet-lg) {
              color: $color-white;
              position: absolute;
              top: 20px;
              left: 50px;
              z-index: 110;
              display: none;
            }
            @include below($mobile-lg) {
              top: 20px;
              left: 15px;
              // z-index: 5;
            }
            span {
              font-size: 18px;
              @include below($mobile-lg) {
                font-size: 16px;
              }
            }
            svg {
              width: 40px;
              height: auto;
              @include below($tablet-lg) {
                width: 40px;
                path {
                  fill: $color-white;
                }
              }
              @include below($mobile-lg) {
                width: 40px;
                margin-right: 10px;
              }
            }
          }
          h1 {
            @include below($tablet-lg) {
              color: $color-white;
            }
          }
        }
      }
      h1 {
        margin-bottom: 55px;
        margin-top: 95px;
        font-size: 65px;
        @include below($desktop-lg) {
          font-size: 45px;
        }
        @include below($tablet-lg) {
          font-size: 55px;
        }
        @include below($tablet-sm) {
          font-size: 46px;
        }
        @include below($mobile-lg) {
          font-size: 30px;
          word-wrap: break-word;
          width: 100%;
        }
      }
      .button_year_wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        align-items: center;
        @include below($mobile-lg) {
          margin-bottom: 20px;
        }
        p {
          @include fontFace(20px, 1, 400, $color-black);
          margin: 0;
        }
      }
      p,
      li {
        @include fontFace(18px, 1.6, 400, $color-tundora);
        margin-bottom: 1.5rem;
        text-align: justify;

        @include below($mobile-lg) {
          font-size: 16px;
          text-align: left;
          color: $color-black;
        }
        strong {
          @include fontStyleInherit();
          font-weight: 700;
        }
      }
      h2 {
        @include fontFace(26px, 1.5, 700, $color-woodsmoke);
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 54px;
        @include below($mobile-lg) {
          font-size: 24px;
          margin-bottom: 15px;
          color: $color-black;
        }
      }
      h3 {
        @include fontFace(22px, 1.5, 700, $color-woodsmoke);
        text-transform: uppercase;
        margin-bottom: 15px;
        margin-top: 54px;
        @include below($mobile-lg) {
          font-size: 20px;
          margin-bottom: 15px;
          color: $color-black;
        }
      }
      h4 {
        @include fontFace(18px, 1.5, 700, $color-woodsmoke);
        text-transform: uppercase;
        margin-bottom: 15px;
        // margin-top: 54px;
        @include below($mobile-lg) {
          font-size: 16px;
          margin-bottom: 15px;
          color: $color-black;
        }
      }
      .project_technology {
        position: relative;
        h3,
        h4 {
          @include fontFace(18px, 1.6, 600, $color-tundora);
          margin-bottom: 1.6rem;
          position: relative;
          margin-top: 0;
          padding-bottom: 1.5rem;
          text-transform: uppercase;
          @include below($mobile-lg) {
            color: $color-black;
          }

          &::after {
            content: "";
            height: 1px;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: #808080;
          }
        }
        p {
          @include fontFace(18px, 1.6, 400, $color-tundora);
          position: relative;
          padding-bottom: 1.5rem;
          @include below($mobile-lg) {
            font-size: 16px;
          }
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: #808080;
          }
        }
        ul {
          //   padding-left: 18px;
          //   list-style: disc;
          margin-bottom: 1.6rem;

          padding-bottom: 44px;
          color: #484848;
          position: relative;
          li {
            position: relative;
            display: flex;
            align-items: center;
            &::before {
              content: "";
              display: inline-block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: $color-tundora;
              margin-right: 10px;
            }
            @include fontFace(18px, 1.6, 400, $color-tundora);
            text-transform: uppercase;
            @include below($mobile-lg) {
              font-size: 16px;
            }
          }
          &::after {
            content: "";
            height: 1px;
            width: 100%;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: #808080;
          }
        }
      }
      .cta_secondary {
        position: fixed;
        z-index: 99;
        right: 90px;
        bottom: 20px;
        @include below($tablet-lg) {
          right: 50px;
        }
        @include below($mobile-lg) {
          display: none;
        }
      }
      ul {
        padding-left: 20px;
        margin-bottom: 30px;
        li {
          position: relative;
          text-align: left;
          margin-bottom: 0px;
          & + li {
            margin-top: 15px;
          }
          &::before {
            content: "";
            width: 7px;
            height: 7px;
            flex: 0 0 7px;
            position: absolute;
            top: 8px;
            left: -15px;
            border-radius: 50%;
            background-color: $color-black;
            display: block;
          }
        }
      }
    }
  }
}
.portfolio__content__holder__wrap {
  .btn-bck {
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    width: max-content;
    @include below($tablet-lg) {
      color: $color-white;
      position: absolute;
      top: 20px;
      left: 50px;
      z-index: 110;
    }
    svg {
      margin-right: 30px;
      width: 40px;
      height: auto;
      path,
      line {
        transition: 0.3s all ease-in-out;
      }
      @include below($tablet-lg) {
        width: 40px;
        path {
          fill: $color-white;
        }
      }
      @include below($mobile-lg) {
        width: 40px;
        margin-right: 10px;
      }
    }
    span {
      font-size: 1rem;
    }
    &:hover {
      @include above($tablet-lg) {
        color: $color-cinnabar;
        svg {
          path,
          line {
            fill: $color-cinnabar;
          }
        }
      }
    }
  }
  & > .btn-bck {
    display: none;
    @include below($tablet-lg) {
      display: flex;
      position: absolute;
      top: 20px;
      left: 50px;
      z-index: 104;
    }
    @include below($mobile-lg) {
      top: 20px;
      left: 15px;
    }
  }
  .min_1200 {
    // @include above($tablet-lg) {
    // position: -webkit-sticky;
    position: sticky;
    // top: 46.1%;
    top: 50%;
    z-index: 99;
    // @include above(2100px) {
    //   top: 46.2%;
    // }
    // @include above(2300px) {
    //   top: 46.3%;
    // }
    // @include above(2600px) {
    //   top: 46.5%;
    // }
    // @include above(3000px) {
    //   top: 46.7%;
    // }
    // @include above(5000px) {
    //   top: 46.9%;
    // }
    // }
    .project_navigation_link {
      // transform: translateY(-100%);
    }
  }
}
.project_navigation_link {
  padding: 30px 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 50vh;
  width: calc(100% + 24px);
  margin-left: 0px;
  margin-top: 50px;
  position: relative;
  z-index: 100;
  // margin-bottom: 50px;
  & > img {
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.6);
  }
  @include below($tablet-lg) {
    aspect-ratio: 781/433;
    height: auto;
    margin-bottom: 50px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  @include below($mobile-lg) {
    padding: 90px 15px;
    margin-bottom: 0px;
  }
  h5 {
    @include fontFace(24px, 1.5, 400, $color-white);
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
    @include below($mobile-lg) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
  h3,
  a {
    position: relative;
    z-index: 5;
    // display: flex;
    width: max-content;
    @include fontFace(50px, 0.9, 500, $color-white);
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s all ease-in-out;
    max-width: 100%;
    @include below($mobile-lg) {
      font-size: 28px;
    }
    svg {
      margin-left: 30px;
      width: 24px;
      height: auto;
      display: inline-block;
      margin-bottom: 4px;
      path,
      line {
        fill: $color-white;
        transition: 0.3s all ease-in-out;
      }
    }
    &:hover {
      @include above($tablet-lg) {
        color: $color-cinnabar;
        svg {
          path,
          line {
            fill: $color-cinnabar;
          }
        }
      }
    }
  }
}
// .portfolio__details__page {
//   & ~ footer {
//     display: none;
//     @include below($tablet-lg) {
//       display: block;
//     }
//   }
// }
.form__overlay {
  position: fixed;
  z-index: 101;
  inset: 0;
  transition: 0.2s all ease-in-out;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($color: $color-black, $alpha: 0.4);
  &.overlayOpen {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}
.schedule__demo__contact__form {
  position: fixed;
  z-index: 101;
  background-color: $color-white;
  padding: 30px;
  border-radius: 10px;
  max-width: calc(100vw - 30px);
  max-height: calc(100dvh - 30px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition: 0.5s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  min-width: 750px;
  @include below($tablet-sm) {
    min-width: unset;
    width: 100%;
  }
  @include below($mobile-lg) {
    padding: 20px;
    top: 90px;
    transform: translate(-50%, 0%);
  }
  h5 {
    @include fontFace(50px, 1.1, 600, $color-black);
    text-transform: capitalize;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    @include below($desktop-lg) {
      font-size: 45px;
    }
    @include below($mobile-lg) {
      font-size: 35px;
    }
    svg {
      width: 30px;
      height: 30px;
      object-fit: contain;
      cursor: pointer;
    }
  }
  form {
    width: 100%;
    background-color: inherit;
    fieldset {
      & + fieldset {
        margin-top: 20px;
      }
      label {
        display: none;
      }
      .cta_primary {
        font-size: 20px;
        min-width: 210px;
        align-items: center;
        justify-content: center;
        padding: 20px 45px;
        // margin-top: 20px;
        @include below($desktop-lg) {
          padding: 20px 30px;
        }
        @include below($tablet-lg) {
          margin-top: 20px;
        }
        @include below($mobile-lg) {
          padding: 17px 48px;
          font-size: 14px;
          margin-top: 0;
          min-width: unset;
        }
        // &::after{
        //     background-color: $color-white;
        //     color: $color-black;
        // }
        &[disabled] {
          pointer-events: none;
          opacity: 0.5;
        }
      }
      input,
      textarea {
        @include fontFace(30px, 1.2, 400, $color-black);
        width: 90%;
        border: none;
        border-bottom: 1px solid $color-black;
        padding: 20px 0;
        transition: 0.3s all ease-in-out;
        resize: none;
        width: 100%;
        // height: 77px;
        @include below($desktop-lg) {
          font-size: 25px;
        }
        @include below($tablet-sm) {
          max-width: 100%;
          width: 100%;
        }
        @include below($mobile-lg) {
          font-size: 18px;
        }
        &::placeholder {
          @include fontStyleInherit();
          color: #7d7d7d;
        }
        &.error {
          color: red;
          border-color: red;
          &::placeholder {
            color: red;
          }
        }
      }
      textarea {
        height: 200px;
        @include below($mobile-lg) {
          height: 120px;
        }
      }
    }
  }
  &.formOpen {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
    @include below($mobile-lg) {
      transform: translate(-50%, 0%);
    }
  }
}
